.sign-in-background {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
  background-size: cover;

  /* background-color: #22254b; */
}

.bg-layer {
  background-color: rgb(245, 245, 247);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* login CSS */
.login {
  width: 350px;
  height: 450px;
  padding: 40px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.login h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(232, 232, 236);
  padding: 14px 10px;
  width: 200px;
  outline: none;
  background-image: linear-gradient(to top, #f9f9f9, rgb(232, 232, 236));
  border-radius: 24px;
}
.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #2ecc71;
}

.login input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(232, 232, 236);
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.login input[type="submit"]:hover {
  background: rgb(245, 245, 247);
}

.login p {
  border: 0;
  background: none;
  display: block;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 14px 7px;
  width: auto;
  outline: none;
  color: white;
  border-radius: 24px;
}

.login p:hover {
  cursor: pointer;
}

.link {
  color: black;
  text-decoration: none;
}
