body {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 247);
}

.card-holder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 15% 0 15%;
}

.banner-container {
  margin: 0 10%;
  padding: 0;
  height: 70vh;
  width: 80vw;
  background-image: url("https://i.ytimg.com/vi/XKfgdkcIUxw/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
