.nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: transparent;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(245, 245, 247);
}
nav {
  margin-bottom: 0px;
  border-bottom: 2px solid white;
  background-color: rgb(245, 245, 247);
  border-bottom: none;
}

.nav-items {
  margin-left: 800px;
  display: flex;
  justify-content: space-around;
  width: 22%;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  list-style: none;
  text-decoration: none;
}
.link-text {
  text-decoration: none;
  color: black;
}
